* {
    margin: 0%;
    padding: 0%
}

header {
    max-width: 1800px;
    max-height: 200px;
    background-color:  black;
    margin: auto;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0%;
}

.img-header {
    height: 80px;
}

.links-header {
    max-width: 700px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.link-header > a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.iconefooter > a:hover{
    color: #d971c8;
}

/*Hero*/

.hero{
    background-image: url('imgs/hero.png');
    max-width: 1800px;
    height: 900px;
    margin: auto;
}

.heroTransparencia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    max-width: 1800px;
    height: 900px;
}

.heroDireita > img {
    width: 440px;
    height: 520px;
    border-radius: 30px;
}

.heroEsquerda > h1{
    font-size: 60px;
    color: #E8CFD2;
}

.heroEsquerda > div > a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    
}

.heroEsquerda > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: #2C2C2C;
    border-radius: 50px;
    margin-top: 45px;
}

.butaohero > a:hover {
    color: #D97171;
}

/*media query para hero em tela menores*/

@media (max-width: 800px) {
    .heroDireita > img {
        margin-top: 200px;
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }
    .heroEsquerda > h1{
        font-size: 40px;
    }
    .heroEsquerda{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 250px;
    }
    .headerParte1 > .links-header {
        font-size: 13px;
    }
    .heroTransparencia {
        flex-wrap: wrap-reverse;
    }
}

/*pag Sobre mim*/

.sobreMim {
    max-width: 1800px;
    max-height: 2000px;
    margin: auto;
    margin-top: 100px;
}

.sobreMim > div > h1 {
    font-size: 50px;
    color: #D97171;
    margin-left: 200px;
}

.elementosSobremim > div > img {
    width: 400px;
    height: 400px;
    border: solid #D97171;
    border-radius: 30px;
}

.elementosSobremim{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-right: 200px;
    margin-left: 40px;
}

.elementosSobremim > div > p {
    font-size: 25px;
    font-family: serif;
    margin-bottom: 200px;
    max-width: 500px;
    
}

/*media query em "sobre mim"*/

@media (max-width: 800px) {
    .elementosSobremim {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .elementosSobremim > div > p {
        font-size: 15px;
        text-align: center;
        margin: 20px 50px;
        height: 200px;
    }
    
    .elementosSobremim > div > img {
        width: 200px;
        height: 200px;
    }
    .sobreMim > div > h1 {
        font-size: 25px;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }

    
}

/*curiosidades*/


/*tamanho da tela*/
.curiosidades {
    max-width: 1800px;
    max-height: 2100px;
    margin: auto;
    background-color: #FFF0EA;
}

/*título*/
.elementosCuriosidades > div > h1 {
    padding-top: 100px;
    margin-left: 200px;
    font-size: 50px;
    color: #D97171;
    margin-bottom: 80px;
}

.cardsCuriosidades{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 50px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    width: 300px;
    max-height: 352px;
    background-color: #d6aaaa;
    border-radius: 20px;
    box-shadow: #00000046 0px 19px 38px, #00000042 0px 15px 12px;
}

.card > div > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card > div > p {
    width: 300px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card > div > h2 {
    text-align: center;
}

@media (max-width: 800px) {
    .elementosCuriosidades > div > h1 {
        text-align: center;
        padding-top: 50px;
        margin-left: 0;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;
        margin-bottom: 5px;
    }
}

/*habilidade*/

.habilidade {
    margin: auto;
    background-image: url('imgs/fundoHabilidade.png');
    max-width: 1800px;
    height: 1216px;
}

.elementosHabilidade {
    background-color: rgba(0, 0, 0, 0.767);
    margin: auto;
    max-width: 1800px;
    height: 1216px;
}

.elementosHabilidade > div > h1 {
    padding-top: 100px;
    margin-left: 200px;
    font-size: 60px;
    color: #FFF0EA;
    margin-bottom: 80px;
}

.elementosdivHabilidade > div > img {
    width: 540px;
    height: 580px;
}

.elementosdivHabilidade > div > p {
    font-size: 40px;
    margin-bottom: 200px;
    max-width: 500px;
    color: #FFFDFD;
}

.elementosdivHabilidade {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 250px;
    margin-right: 40px;
}



@media (max-width: 800px) {
    .elementosdivHabilidade > div >  img {
        max-width: 300px;
        max-height: 300px;
        border-radius: 50%;
    }

    .elementosdivHabilidade {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 50px;
    }

    .elementosHabilidade > div > h1 {
        padding-top: 100px;
        margin-left: 0px;
        font-size: 50px;
        margin-bottom: 0px;
    }

    .habilidade {
       text-align: center;
    }

    .elementosdivHabilidade > div > p {
        font-size: 30px;
        margin-top: 20px;
    }
    

}



footer {
    max-width: 1800px;
    max-height: 400px ;
    background-color: black;
    margin: auto;
}
.footerdiv1 > h2 {
    color: white;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footerdiv1 > div > i {
    color: white;
    font-size: 50px;
}

.footerdiv1 > div > a:hover {
    color: #d971c8;
}


.footerdiv1 > div > a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 10px;
}

.footerdiv2 > h2 {
    color: white;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footerdiv2 > h6 {
    color: white;
    font-size: 25px;
    margin-top: 13px;
}

.elementosFooter {
    display: flex;
    margin-left: 180px;
    flex-wrap: wrap;
}

.footerdiv1 {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    flex-wrap: wrap;
    align-items: center;
}

.footerdiv2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.iconefooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.elementosFooter > div > img {
    height: 180px;
    border-radius: 50%;
}


@media (max-width: 800px) {
    .elementosFooter{
        max-width: 300px;
        max-height: 400px;
    }
    .elementosFooter {
        display: flex;
        margin-left: 2px;
        flex-wrap: wrap;
        padding-top: 50px;
    }
    .footerdiv1 > h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}