* {
  margin: 0%;
  padding: 0%;
}

header {
  max-width: 1800px;
  max-height: 200px;
  background-color:  black;
  margin: auto;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0%;
}

.img-header {
  height: 80px;
}

.links-header {
  max-width: 700px;
  background-color: rgb(0, 0, 0);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.link-header > a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}